
@{
    ViewData["Title"] = "Описание";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Тестовое задание</title>
</head>
<body>
    <div>
        <h3>Описание приложения</h3>
        <p>Данное приложение выполнено в качестве тестового задания для компании Сбербанк.</p>
        <p>В данном приложении реализовано представление данных из базы данных на MySQL.</p>
        <p>По нажатию на заголовки столбцов изменяется тип сортировки данных в таблице.</p>
        <p>Сортировка по полю "Описание" не реализована ввиду ее неприменимости в реальном приложении.</p>
        <p>Над таблицей с данными имеется строка поиска данных по полю "Имя".</p>
    </div>
</body>
</html>

